*{margin: 0; padding: 0;}
:root{
    --bgcolor: linear-gradient(45deg, #020024 0%, #090979 35%, #00d4ff 100%);
}
/*Glass Background*/
.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: var(--bgcolor);
    background-color:var(--bgcolor);
    z-index: -5;
    overflow-y: scroll;
}
.glass-ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.glass-ul li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.18);
    animation: spin 5s linear infinite;
    bottom: -150px;

}
.glass-ul li:nth-child(1){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}
.glass-ul li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.glass-ul li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.glass-ul li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.glass-ul li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.glass-ul li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.glass-ul li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.glass-ul li:nth-child(8){
    left: 75%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.glass-ul li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.glass-ul li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes spin {
    0%{
        transform: translate(0,0);
        rotate:0deg;
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translate(0,-1000px);
        rotate:720deg;
        opacity: 0;
        border-radius: 50%;
    }
}

/*ctrl and </>*/
#topz{position: relative; margin: auto; margin-top: 20px;width: calc(100% - 20px); cursor: pointer;}
#topz h3:first-child{margin-right: auto; border: 8px double ; 
    border-radius: 6px 2px 6px 2px;display: inline-block; position: absolute;
}
#topz h3:last-child{right: 2px;margin-top: 3px;position: absolute;}
#dev{display: none;position: absolute;right: 10px; top: 50px;font-weight: 700; font-family: 'Courier New', Courier, monospace;}

/*Mohieddine*/

a{text-decoration: none;}
.sec-two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    position: absolute;
    top: 10px;
}
#container a:has(.ul-two){
    height:100px;
}
.ul-two{
    list-style: none;
    display: flex;;
}
.ul-two li{
    font-size: 60px;
    color: #f5f5f5;
    text-shadow: #fff 0.006em 0.006em 0.007em,
                    #9c9c9c 1px 1px 1px,
                    #9c9c9c 1px 2px 1px,
                    #9c9c9c 1px 3px 1px,
                    #9c9c9c 1px 4px 1px,
                    #9c9c9c 1px 5px 1px,
                    #9c9c9c 1px 6px 1px,
                    #9c9c9c 1px 7px 1px,
                    #9c9c9c 1px 9px 1px,
                    #9c9c9c 1px 10px 1px,
                    #9c9c9c 1px 11px 1px,
                    #9c9c9c 1px 12px 1px,
                    rgba(16, 16, 16, 0.4) 1px 18px 6px,
                    rgba(16, 16, 16, 0.4) 1px 18px 10px,
                    rgba(16, 16, 16, 0.4) 1px 22px 35px,
                    rgba(16, 16, 16, 0.4) 1px 30px 65px,
                    #fff -0.5em -0.1em 100px;
    animation: ani 1s infinite ease-in-out ;
    animation-delay: calc(.1s *var(--i));
}
@keyframes ani{
    0%, 100%{
        transform: translateY(0);
        text-shadow: #fff 0.006em 0.006em 0.007em,
                    #9c9c9c 1px 1px 1px,
                    #9c9c9c 1px 2px 1px,
                    #9c9c9c 1px 3px 1px,
                    #9c9c9c 1px 4px 1px,
                    #9c9c9c 1px 5px 1px,
                    #9c9c9c 1px 6px 1px,
                    #9c9c9c 1px 7px 1px,
                    #9c9c9c 1px 9px 1px,
                    #9c9c9c 1px 10px 1px,
                    #9c9c9c 1px 11px 1px,
                    #9c9c9c 1px 12px 1px,
                    rgba(16, 16, 16, 0.4) 1px 18px 26px,
                    rgba(16, 16, 16, 0.4) 1px 22px 30px,
                    rgba(16, 16, 16, 0.4) 1px 26px 65px,
                    rgba(16, 16, 16, 0.4) 1px 30px 95px,
                    #fff -0.5em -0.1em 100px;
    }
    50%{
        transform: translateY(-20px);
        text-shadow: #fff 0.006em 0.006em 0.007em,
                    #9c9c9c 1px 1px 1px,
                    #9c9c9c 1px 2px 1px,
                    #9c9c9c 1px 3px 1px,
                    #9c9c9c 1px 4px 1px,
                    #9c9c9c 1px 5px 1px,
                    #9c9c9c 1px 6px 1px,
                    #9c9c9c 1px 7px 1px,
                    #9c9c9c 1px 9px 1px,
                    #9c9c9c 1px 10px 1px,
                    #9c9c9c 1px 11px 1px,
                    #9c9c9c 1px 12px 1px,
                    rgba(16, 16, 16, 0.4) 1px 38px 26px,
                    rgba(16, 16, 16, 0.4) 1px 42px 30px,
                    rgba(16, 16, 16, 0.4) 1px 46px 65px,
                    rgba(16, 16, 16, 0.4) 1px 50px 95px,
                    #fff -0.5em -0.1em 100px;
    }
}


/*Binary*/
.binary{ 
    position: relative;
    width: 200px;
    left:50%;
    margin-left: -100px;
    margin-top: 280px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 10px;
    color: green;
    background: black;
    background-image: linear-gradient(45deg, black,rgb(0,60,0),green);
}
/*Cards*https://youtube.com/shorts/Ipt3XM42s-8?feature=share*/
.sec-three{
    position: relative;
    display: grid;
    gap: 20px;
    width: 100%;
    height: 40vh; /*???*/
    justify-items: start;
    align-items: stretch;
    grid-template-columns: repeat(3,300px);
    overflow-y: scroll;
}
.sec-three aside.card:first-child{margin-left: 5px;}
aside.card{
    width:300px;
    height:200px;
    position: relative;
    perspective: 600px;
}
aside.card div.front,
aside.card div.back{
    position: absolute;
    top: 0;
    width: 100%;
    height:100% ;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 0.5s all ease-in-out;
    border-radius: 20px;
    display: flex;
    color: #fff;
    text-shadow: 0 2px 0 #777777;
    padding: 40px 10px;
    overflow-y: scroll;
}
aside.card div.front{
    background-color: #00DBDE;
    background-image: linear-gradient(-90deg, #00DBDE 0%, #FC00FF 100%);
    z-index: 1000;
    transform: rotateX(0deg);
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
aside.card:nth-child(2) div.front{background: #FC00FF; background: linear-gradient(90deg,#FC00FF 0%,#c800ff 50%, #FC00FF 100%);}
aside.card:nth-child(1) div.front{background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);}
aside.card div.back{
    background-color: #006cb6;
    z-index: 900;
    transform: rotateX(-180deg);
    font-size: 20px;
    flex-direction: column;
    align-items: left;
}
aside.card div.back i{margin: auto;}
aside.card:hover div.front{
    z-index: 900;
    transform: rotateX(180deg);
}
aside.card:hover div.back{
    z-index: 1000;
    transform: rotateX(0deg);
}

/*Projects*/
.projects{position: relative; display: flex; align-items: center; justify-content: center; gap: 30px; width: 100%;}
.projects div:first-child{font-size: 30px; color: #FC00FF;}
.projects div:last-child a{text-align: center;}
.projects div:last-child a h4{color: black; cursor: pointer; background-color: white; border-radius: 40px; border: black solid; margin: 3px; padding: 0 4px;}


/*Contact Me*/
.Contact-Me{
    margin-top: 30px;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a.social{
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius:100%;
    margin: 0 10px;
    border: #fff solid 2px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.social::before{
    content:"";
    background-color: #f0f;
    width:100%;
    height: 100%;
    position: absolute;
    top: 100%;
    transition: 0.5s all ease-in-out;
}
a.social:hover::before {
    top: 0;
}

a.social.facebook::before {
    background-color: #3a5796;
}

a.social.twitter::before {
    background-color: #1c9ceb;
}

a.social.linkedin::before {
    background-color: #0371ae;
}

a.social.instagram::before {background-color: green;}

a.social svg {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1;
    transition: 0.5s all ease-in-out;
}

a.social:hover svg {rotate:360deg;}

a.social svg path {
    fill: #383838;
    transition: 0.5s all ease-in-out;
}

a.social:hover svg path {fill: #fff;}

/*Buttons*/
button{display: none; width: 40px; height: 40px;}
.btn-up{background: url(arrow-up.png) no-repeat center center/cover ;cursor: pointer; z-index: 2;}
.btn-down{background: url(arrow-down.png) no-repeat center center/cover;cursor: pointer;z-index: 2;}
#name-btn-up{position: absolute;margin-left: 84%; transform:translateX(-50%); top: 60px;}
#name-btn-down{position: absolute;margin-left: 84%; transform:translateX(-50%); top: 220px;}
#binary-btn-up{position: absolute;margin-left: 15%; transform:translateX(-50%); top: 280px;}
#binary-btn-down{position: absolute;margin-left: 15%; transform:translateX(-50%); top: 350px;}
#cards-btn-up{position: absolute;margin-left: 7%; transform:translateX(-50%); top: 500px;}
#cards-btn-down{position: absolute;margin-left: 7%; transform:translateX(-50%); top: 570px;}
#proj-btn-up{position: absolute;margin-left:1%;  top: 770px;}
#proj-btn-down{position: absolute;margin-left: 1%;  top: 870px;}

/*added text from js*/

.text-two{
    position: fixed;
    width: 100%;
    color: white;
    top: 50%;
    font-size: 280%;
    text-align: center;
}
.text-three{
    position: absolute;
    width: 100%;
    color: yellow;
    font-size: 200%;
    text-align: center;
}


@keyframes opic{
    from{opacity: 1;}
    to{opacity: .1;}
}

/*Ipad Format*/
@media only screen and (min-width:768px){
    .ul-two li{
        font-size: 110px;}
    .binary{
        width: 300px;
        margin-left: -150px;
        padding: 5px;
    }
    aside.card div.front{font-size: 50px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
    .projects{font-size: 30px;}
    .projects div.title-proj{font-size: 40px;}


    #name-btn-up{transform:translateX(0%);top: 110px;margin-left: 88%;}
    #name-btn-down{transform:translateX(0%);top: 190px;margin-left: 88%;}
    #binary-btn-up{margin-left: 4%;}
    #binary-btn-down{margin-left: 4%;}
    #cards-btn-up{margin-left: 3.5%; top: 500px;}
    #cards-btn-down{margin-left: 3.5%;top: 570px;}
    #proj-btn-up{position: absolute;margin-left:1%;  top: 940px;}
#proj-btn-down{position: absolute;margin-left: 1%;  top: 1020px;}
}
/*Laptop Format*/

@media only screen and (min-width:1024px){
    body{background: url(wallpaperflare.com_wallpaper\ \(6\).jpg) no-repeat center center/cover ;width: 100vw; height: 100vh;display: flex; justify-content: center; align-items: center;}
    .bg{width: 80vw;
        height: 80vh;
        border-radius: 30px;
        z-index: 2;
        top: auto;
        overflow-x: hidden;
    }
    .ul-two li{
        font-size: 140px; }
    .binary{margin-top: 350px;}
    .sec-three{justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        right: 5px;
        height: 330px;
        margin-bottom: 90px;
        overflow: hidden;
        margin-right: 5px;
    }
    aside.card div.front{overflow: hidden;}
    #name-btn-up{transform:translateX(0%);top: 110px;margin-left: 92%;}
    #name-btn-down{transform:translateX(0%);top: 190px;margin-left: 92%;}

    /*Scroll Bar*/
    ::-webkit-scrollbar{
        width: 10px;
    }
    ::-webkit-scrollbar-track{
        background-color: rgb(155, 154, 154);
        opacity:0.3;
        height: 100vh;
        border-radius: 100vw;
        margin-block: .5em;
        /* border: .25em solid hsl(120 75% 50%, 1); *hsl-scale:*https://www.w3schools.com/colors/colors_hsl.asp**/
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgba(90, 89, 89,.7);
        /* background: linear-gradient(red, blue, yellow); */
        border-radius: 100vw;
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: rgba(77, 77, 77, 0.9);
    }
    .text-two{margin-left: -10%;}
}

